.bar {
  color: yellow;
}

.navbar-light .navbar-brand {
  color: yellow;
}

.body {
  color: rgb(18.04% 2.75% 24.71%);
}

/* .Ravi {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
} */